<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="courses/">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-end">
    <a *ngIf="signedIn" (click)="signout()" class="navbar-item"> Sign Out</a>
    <a *ngIf="notSignedIn" routerLink="/register" class="navbar-item"> Register</a>
    <a *ngIf="notSignedIn" routerLink="/signin" class="navbar-item"> Sign in</a>
  </div>
</nav>

<router-outlet></router-outlet>