<nav class="navbar container" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      
  
      
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
  
        <a class="navbar-item">
          Documentation
        </a>
  
    
      </div>

      <p id="mainTitle" class="title is-2 is-marginless">Iceland POI</p>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section>
<div id="map-container" class="container">
<div #map id="map"></div>
</div>
</section>
<button (click)="Scooby()" class="button">Scooby</button>